footer {
  position: relative;
  color: #888;
}
footer .wrap {
  width: auto;
}
footer .wrap > *{
  padding-left: calc((100% - 1100px) / 2);
  padding-right: calc((100% - 1100px) / 2);
}
footer ul.fnb{
  display: flex;
  font-size: 14px;
  border-top: 1px solid #d9d9d9;
}
footer .middle{
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 15px;
  padding-bottom: 15px;
}
footer .middle > *{
  line-height: 2;
  font-size: 11px;
}
footer address{
  
}
footer .middle p{
  
}
footer a{
  color: #666;
}
footer ul.fnb > li{
  width: 20%;
  border-left: 1px solid #d9d9d9;
  padding: 15px 0;
}
footer ul.fnb > li h2{
  padding-left: 15px;
  font-weight: bold;
  padding-bottom: 15px;
}
footer ul.fnb li{
  
}
footer ul.fnb li a{
  line-height: 2;
  display: block;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 300;
}
footer ul.fnb li a:hover{
  color: #000;
}
footer ul li h3{

}
footer ul li ul{

}
footer ul li ul li{

}
footer .bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}
footer .bottom ul{
  
}
footer .bottom .left{
  display: flex;
  gap: 17px;
  align-items: center;
}
footer .bottom .left li{

}
footer .bottom .left li:nth-child(1)::after,
footer .bottom .left li:nth-child(2)::after,
footer .bottom .left li:nth-child(3)::after{
  content: "I";
  color: #ccc;
  margin-left: 6px;
  display: inline-block;
  position: absolute;
}
footer .bottom .left li a{
  font-size: 14px;
  color: black;
}
footer .bottom .right{
  display: flex;
  padding-top: 10px;
  align-items: center;
}
footer .bottom ul li{
  
}
footer .bottom ul li:nth-child(5){
  padding-left: 20px;
}
footer .bottom ul li select{
  width: 170px;
  border-radius: 8px;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 35px;
  padding: 5px;
  border: 1px solid #999;
  background: url(../img/arrow.png) no-repeat 95% 50%;
  font-size: 13px;
}
footer span.banner{
  display: flex;
  align-items: center;
  gap: 10px;
}
footer span.banner a{
  background-image: url(../img/web.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 68px;
  height: 48px;
  font-size: 0;
  transform: scale(0.8);
}
footer span.banner a:nth-child(2){
  background-image: url(../img/person.png);
  width: 41px;
  height: 41px;
}
footer ul.sns{
  float: right;
  display: flex;
  gap: 10px;
  padding-left: 55px;
  transform: scale(0.8);
}
footer ul.sns li{
  background-image: url(../img/face.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  width: 37px;
  height: 37px;
}
footer ul.sns li:nth-child(1)::before{
  content: "SNS";
  display: block;
  color: black;
  position: relative;
  right: 50px;
  top: 8px;
  font-size: 18px;
}
footer ul.sns li:nth-child(2){
  background-image: url(../img/you.png);
}
footer ul.sns li:nth-child(3){
  background-image: url(../img/insta.png);
}
footer ul.sns li a{
  font-size: 0;
  padding: 0 6px;
}